<% @page_title= "欢迎你进入#{@course.name}课程学习" -%>

<div class="title"><%= h @course.name %>课程－－查看测验</div>
<p>测验名称：<%= h @exam.name %></p>
<p>时间限制：<%= h @exam.time_limit %>分钟</p>
<p>试题数：<%= h @exam.name %></p>
<p>总分：<%= h @exam.total_score %></p>
<p>最后更新：<%= h @exam.updated_at %>
<p>说明：</br>
<%= simple_format(h(@exam.description)) %>
</p>
<p><%=  link_to '开始测验', start_student_course_exam_path(@course, @exam), :target => '_blank' %>
</p>
  
<%= link_to '返回', student_course_exams_path(@course) %>

