<%= form_for([:student, @course, @message]) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this student_message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title"><label for="message_question">发表留言：</label></div>
  <%= f.text_area 'question', :cols => 70, :rows => 12  %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
