<h1>学生列表</h1>
<hr>
<table width="400">
  <tr class="ListTitle">
   <th width="100">学号</th>
   <th width="100">姓名</th>
  </tr>
<% 
  odd_or_even = 0
  for student in @students 
    odd_or_even = 1 - odd_or_even
-%>
  <tr class="ListLine<%= odd_or_even %>">
    <td><%=h student.stu_no %></td>
    <td><%=h student.name %></td>
    <td><%= link_to '显示', [:admin, student] %></td>
    <td><%= link_to '修改', edit_admin_student_path(student) %></td>
	<td><%= link_to '删除', [:admin, student], :method => :delete, :data => {:confirm => '确认要删除该学生吗?'} %></td>
  </tr>
<% end %> 
</table>
<%= paginate @students %>
<br />

<%= link_to 'New Student', new_admin_student_path %>
