<h1>Listing admin_students</h1>

<table>
  <tr>
    <th>Stu no</th>
    <th>Name</th>
    <th>Hashed password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_students.each do |admin_student| %>
  <tr>
    <td><%= admin_student.stu_no %></td>
    <td><%= admin_student.name %></td>
    <td><%= admin_student.hashed_password %></td>
    <td><%= link_to 'Show', [:admin, admin_student] %></td>
    <td><%= link_to 'Edit', edit_admin_student_path(admin_student) %></td>
    <td><%= link_to 'Destroy', [:admin, admin_student], :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_admin_student_path %>
