<%= form_for([:teacher, @course]) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this teacher_course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arrangement %><br />
	<%= f.text_area :arrangement, :cols => 50, :rows => 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
