<% @page_title=@course.name+"课程管理" -%>

<div class="title">课程通知</div>
  <div class="content">
    <ul>
      <% for notify in @notifies -%>
      <li>
      <%= h notify.title %>(阅读次数:<%= h notify.readed_times %>次) &nbsp;
      <%= link_to '查看', :controller => 'notifies', :action => 'show', :id => @course, :nt_id => notify %>
      </li>
      <% end -%>
    </ul>
    ……
  </div>
  <div class="command"><%= link_to '管理', :controller => 'notifies', :action => 'index', :id => @course %></div>
  <div class="title">课程安排</div>
  <div class="content"><%= simple_format(h(@course.arrangement)) %></div>
  <div class="command"><%= link_to '修改', :action => 'arrangement', :id => @course %></div>
  <div class="title">课程资料</div>
  <div class="content">
    <ul>
      <% for courseware in @coursewares -%>
      <li>
      <%= h courseware.file_name %>(类型:<%= h courseware.content_type %>,大小:<%= courseware.file_size/1024 %>kb) &nbsp;
      <%= link_to '下载', :controller => 'coursewares', :action => 'download', :id => @course, :cw_id => courseware %>
      </li>
      <% end -%>
    </ul>
    ……
  </div>
  <div class="command"><%= link_to '管理', :controller => 'coursewares', :action => 'index', :id => @course %></div>
  <div class="title">课程测验</div>
  <div class="content">
     <ul>
      <% for exam in @exams -%>
      <li>
      <%= h exam.name %>(共<%= h exam.questions.size %>题，总分<%= h exam.total_score %>分，限时<%= h exam.time_limit %>分钟) &nbsp;
      <%= link_to '查看', :controller => 'question', :action => 'list', :id => @course, :ex_id => exam %>
      </li>
      <% end -%>
    </ul>
    ……
  </div>
  <div class="command"><%= link_to '管理', :controller => 'exams', :action => 'index', :id => @course %></div>
  
   
   <div class="title">学生列表</div>
   
   <div class="content">共有<%= link_to "#{h(@course.students.size)}", :action => 'students', :id => @course %>名同学学习<%= h @course.name %>课程。</div>

  <div class="command"><%= link_to '查看', :action => 'students', :id => @course %></div>
  
  <div class="title">最新未回复留言</div>
     <ul>
      <% for message in @messages -%>
      <li>
      <%= link_to h(truncate(message.question, 50)),:controller => 'messages', :action => 'show', :id => @course, :ms_id => message %>
      (<%= h(message.student.name) if message.student %>,<%= datetime_string(message.created_at) %>) &nbsp;
      <%= link_to '回复',:controller => 'messages', :action => 'reply', :id => @course, :ms_id => message %>
      </li>
      <% end -%>
    </ul>
  <div class="command"><%= link_to '管理', :controller => 'messages', :action => 'index', :id => @course %></div>
 

