<% @page_title = "修改密码" -%>
<%= form_tag :action => 'change_password' do -%>
<p>原密码：
<%= password_field 'user','origin_password'%></p>
<p>新密码：
<%= password_field 'user','new_password'%></p>
<p>重 复：
<%= password_field 'user','new_password_copy'%></p>
<%= submit_tag '修改' %>
<% end -%>
