<h1>Listing admin_notices</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_notices.each do |admin_notice| %>
  <tr>
	<td><%= admin_notice.title %></td>
	<td><%= admin_notice.content %></td>
    <td><%= link_to 'Show', [:admin, admin_notice] %></td>
    <td><%= link_to 'Edit', edit_admin_notice_path(admin_notice) %></td>
    <td><%= link_to 'Destroy', [:admin, admin_notice], :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notice', new_admin_notice_path %>
