<h1>通知详情</h1>
<p>
  标题：<%= h @notice.title %>　<br />
  发布于：<%= datetime_string(@notice.updated_at) %> <br />
  内容：<br />
  <%= simple_format(@notice.content) %>
</p>

<%= link_to 'Edit', edit_admin_notice_path(@notice) %> |
<%= link_to 'Back', admin_notices_path %>
