<%= form_for([:admin, @admin_course]) do |f| %>
  <% if @admin_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_course.errors.count, "error") %> prohibited this admin_course from being saved:</h2>

      <ul>
      <% @admin_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br />
	<%= f.select :teacher_id, [['Select Teacher']] + Teacher.find(:all, :order => :name).map {|t| [t.name, t.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
