
<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @course.teacher.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_admin_course_path(@course) %> |
<%= link_to 'Back', admin_courses_path %>
