<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || @teacher.name+"老师管理后台" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner" align="center">
    <%= @page_title || @teacher.name+"老师管理后台" %>
  </div>
  <div id="columns">
    <div id="side">
      <div class="subtitle">所授课程</div>
      <div class="subleft"></div>
      <div class="subright">
        <% for course in @teacher.courses -%>
          <%= link_to course.name, teacher_course_path(course) %><br />
        <% end -%>
      </div>
      <div class="subtitle">个人设置</div>
      <div class="subleft"></div>
      <div class="subright">
        <%= link_to '更改密码', :controller => '/login', :action => 'change_password' %><br />
        <%= link_to '退出系统', :controller => '/login', :action => 'logout' %><br />
      </div>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <div id="course">
      <%= yield  %>
      </div>
    </div>
  </div>
  <div id="footer" align="center">
    All Rights Resered by Jin 2007~2010
  </div>
</body>
</html>
